@import url("https://fonts.googleapis.com/css2?family=Basic&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font_cardo: "Cardo", serif;
  --font_basic: "Basic", sans-serif;
  --clr_black: #000;
  --clr_white: #fff;
}

a {
  text-decoration: none !important;
  color: var(--clr_white) !important;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

body {
  background-color: #191919 !important;
  color: var(--clr_white) !important;
}

.top-header {
  width: 100%;
  background: linear-gradient(to right, #cab09a 0%, #e58477 100%);
}
span.material-icons {
  font-size: 16px;
  color: white;
}

.top-header .row {
  font-family: var(--font_basic);
  font-weight: 400;
}

.top-header .row .col-lg-3,
.top-header .row .col-lg-2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.top-header .row .col-lg-1 {
  background-color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--clr_white);
  text-align: center;
}
.top-header .row .col-lg-1 p {
  padding-top: 2px;
}

.middle-header ul.header-left,
.middle-header ul.header-right {
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.middle-header ul.header-left a:hover,
.middle-header ul.header-right a:hover {
  cursor: pointer;
  opacity: 0.8;
}
.middle-header ul.header-left li a,
.middle-header ul.header-right li a {
  color: var(--clr_white);
  margin: 0 20px;
  display: block;
  font-size: 12px;
}

.middle-header ul.header-left li a:first-child {
  margin-left: 0;
}
.middle-header ul.header-right li a:nth-child(2) {
  margin-right: 0;
}

.bottom-header .col-lg-2 a span.material-icons {
  font-size: 14px;
}

.bottom-header .col-lg-3 a.news {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 8px 14px;
  border-radius: 16px;
  background-color: #121212;
  transition: all 0.4s ease;
}

.bottom-header .col-lg-3 ul.social-icons li a {
  font-size: 18px;
  display: inline-block;
  margin: 0 8px;
  background-color: transparent;
}

.bottom-header {
  border-bottom: 2px solid var(--clr_white);
}

.bottom-header .col-lg-3 a:hover {
  cursor: pointer;
  background-color: #48494b;
}

.bottom-header .col-lg-3 ul li a i {
  font-size: 18px;

  transition: all 0.3s ease;
}
.bottom-header .col-lg-3 ul li a i:hover {
  cursor: pointer;
  color: #e58477;
}

.bottom-header .col-lg-6 a img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  position: relative;
}

/*davenport-showcase*/
.davenport-showcase .card figure {
  position: relative;
  overflow: hidden;
}
.davenport-showcase .card figure img {
  transition: all 0.3s ease;
}

.davenport-showcase .card figure:hover img {
  cursor: pointer;
  transform: scale(1.125);
}

.davenport-showcase .card figure p.catagory {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--clr_white);
  font-size: 10px;

  border-radius: 30px;
  margin-left: 10px;
  padding: 5px 10px;
}

.davenport-showcase .card figure p.catagory-discount {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr_white);

  background-color: #8a44e5;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font_cardo);
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.davenport-showcase .card figure p.pink {
  background-color: #e19191;
}

.davenport-showcase .card figure p.green {
  background-color: #a8b16a;
}

.davenport-showcase .card {
  background-color: transparent;
  border: none;
}

.davenport-showcase .card .card-body {
  padding: auto 0;
}

.davenport-showcase .card .card-body h6 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font_basic);
}

.davenport-showcase .card .card-body h5 {
  font-size: 22px;
  color: var(--clr_white);
  font-family: var(--font_cardo);
  font-weight: bold;
}
.davenport-showcase .card .card-body p {
  color: var(--clr_white);
}

/*nav*/

nav {
  border-bottom: 1px solid #333;
}

.navbar ul.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  height: 60px;
  line-height: 3.6rem;
}

.navbar ul li a {
  text-transform: uppercase;
  font-family: var(--font_basic);
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #e58477 !important;
  cursor: pointer;
}
.navbar ul li a:hover span {
  color: #fff;
}
.navbar ul li {
  position: relative;
  transition: all 0.3s ease;
}

.navbar ul.nav-links li.nav-item a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid var(--clr_white);
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
}

.navbar ul.nav-links li.nav-item a:hover:before {
  transform: scaleX(1);
  transform-origin: center;
}

.navbar ul li.nav-item a span.new {
  text-transform: uppercase;
  font-family: var(--font_basic);
  font-size: 12px;
  background-color: #e19191;
  padding: 2px 8px;
  border-radius: 16px;
  margin-left: 5px;
}

nav ul.nav-links li.nav-item > ul.sub-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  color: #fff;
  font-size: 14px;
  min-width: 250px;
  z-index: 20;
  padding-left: 0;
  background-color: #191919;
  border: 1px solid #333;
  border-radius: 4px;
  line-height: 1.5;
}

nav ul.nav-links li.nav-item:hover > ul.sub-menu {
  display: block;
}
nav ul.nav-links li.nav-item > ul.sub-menu li.sub-menu-item {
  padding: 8px 14px;
  border-bottom: 1px solid #333;
}

nav ul.nav-links li.nav-item > ul.sub-menu li.sub-menu-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: relative;
}
nav ul.nav-links li.nav-item > ul.sub-menu li.sub-menu-item a span i {
  font-size: 10px;
}

nav ul.nav-links li.nav-item > ul.sub-menu li.sub-menu-item a:before {
  content: unset;
}

/*celebrity*/
nav ul.nav-links li.nav-item:hover > ul.mega-menu {
  display: flex !important;
}
nav ul.nav-links li.nav-item > ul.mega-menu {
  display: none !important;
  width: 1150px;
  background-color: #1f1c1c;
  position: absolute;
  top: 60px;
  z-index: 200;
  left: 0;
  transform: translateX(-47%);
  padding: 20px;
  line-height: 1.75;
  border-radius: 8px;
  gap: 24px;
  transition: all 0.3s ease;
}

.mega-menu-item {
  flex: 1 0 30%;
}
ul.mega-menu li.mega-menu-item a.mega-menu-link:before {
  content: unset;
}
ul.mega-menu li.mega-menu-item a.mega-menu-link {
  transition: all 0.3s ease;
}

ul.mega-menu li.mega-menu-item a.mega-menu-link:hover {
  cursor: pointer;
}

ul.mega-menu li.mega-menu-item div.mega-menu-left figure img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul.mega-menu li.mega-menu-item div.mega-menu-right h6 {
  font-family: var(--font_basic);
  font-size: 14px;
  color: #9f9f9f;
}
ul.mega-menu div.mega-menu-right h5 {
  color: #fff;
  font-size: 14px !important;
  font-weight: bold;
  font-family: var(--font_cardo);
  line-height: 1.5;
}

/*carousel*/

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.carousel-control-prev {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 75%;
  float: right;
  height: 22px;
}
span.carousel-control-prev-icon {
  position: absolute;
  border: 2px solid var(--clr_white);
  padding: 8px;
  top: 0;
  left: 100% !important;
  height: 16px !important;
  width: 16px !important;
  transform: translateX(100px);
}

.carousel-control-next-icon {
  position: absolute;
  border: 2px solid var(--clr_white);
  padding: 8px;
  top: 0;
  height: 16px !important;
  width: 16px !important;
  transform: translateX(10px);
}

.carousel .carousel-item p {
  font-size: 14px;
  font-family: var(--font_basic);
}

.carousel-inner {
  width: 100%;
}
